.card {
	height: 272px;
	width: 426px;
	border-radius: 14px;
    background: linear-gradient(162.4deg, #FF0B4A 0%, #FF3640 100%);
    color: white;
}

.card-title{
    padding: 0.75rem 0.25rem;
    color: #FFFFFF;
    font-family: Futura;
    font-size: 18px;
    font-weight: 500;
    line-height: 25px;
}

.time-increase{
    padding-right: 20px;
    opacity: 0.7;
    font-size: 50px;
}

.time-decrease{
    padding-right: 20px;
    opacity: 0.7;
    font-size: 50px;
} 
        
.card-time{
        color: #FFFFFF;
        font-family: Futura;
        font-size: 74px;
        font-weight: bold;
        line-height: 70px;
}

.card-timeline-part{
        color: #E7E7E7;
        font-family: Futura;
        font-size: 14px;
        font-weight: 500;
        margin: 0 15px;
}

.card-timeline{
    background-color: rgba(255, 255, 255, 0.3);
    height: 6px;
    border-radius: 3px;

    &:before{
        content: "";
        left: 15px;
        position: absolute;
        width: 20%;
        background-color: rgba(255, 255, 255, 0.9);
        height: 6px;
        border-radius: 3px;
    }
}

.time-control-label {
	height: 23px;
	width: 60px;
	color: #FFFFFF;
	font-family: Futura;
	font-size: 14px;
	font-weight: bold;
	line-height: 23px;
}
